* {
   color: #ececec;
   font-family: Robota, 'Open Sans','Helvetica Neue', sans-serif;
   overflow: hidden;
}

body{
    margin: 0;
    padding: 0;

}

.app{
   position: relative;
   z-index: 1;
   display: flex;
    min-height: 100vh;
    width: 100vw;  
}

.app::before{
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('./assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;

    filter: blur(5px);

    transform: scale(1.02);

    z-index: -1;


}
