.sidebar{
    background-color: rgba(23, 23, 23, 0.85);
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo{
    height: 50px;
    width: 80px;
    background-color: white;
    /* border-radius: 20%; */
    object-fit: cover;
}

button span{
    font-size: 20px;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.11);
}

.history{
   margin: 10px;
   padding: 10px;
   height: 100%;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 20px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover{
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}


.fa-trash{
     opacity: 0;
     position: absolute;
     right: 0;
}

.history li:hover .fa-trash{
    opacity: 1;
    color: #fff;
}

.fa-trash:hover{
    color: #f87171 !important;
}

.highlighted{
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}
